{% extends "network/layout.html" %}

{% block body %}
    <div class="main_container ml-4 mt-4">
        {% if user.is_authenticated %}
            <div class="form_container d-flex justify-content-center justify-content-sm-start mb-5">
                <form action="{% url 'network:new_post' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-primary rounded-pill pl-3 pr-3" type="submit" value="Post">
                </form>
            </div>
        {% endif %}
        {% for post in page_obj %}
            {% include 'network/includes/post_layout.html' %}
        {% empty %}
            {% if following_posts_page %}
                <div>Follow users so you can see their posts!</div>
            {% endif %}
        {% endfor %}
        {% include 'network/includes/page_navigation.html' %}
    </div>
{% endblock %}