{% extends "network/layout.html" %}

{% block body %}
    <div class="main_container ml-4 mt-4">
        {% if user.is_authenticated %}
            <div class="form_container d-flex justify-content-center justify-content-sm-start mb-5">
                <form action="{% url 'network:new_post' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-primary rounded-pill pl-3 pr-3" type="submit" value="Post">
                </form>
            </div>
        {% endif %}
        {% for post in posts %}
            <div class="post_container d-flex justify-content-start align-items-start mb-3">
                <i class="bi bi-person-square user_icon mr-2 d-flex justify-content-start"></i>
                <div class="post_details d-flex flex-column justify-content-start align-items-start">
                    <div class="username_timestamp_container">
                        <div class="mr-3">{{ post.creator }} · {{ post.timestamp }}</div>
                    </div>
                    <div class="content_container mb-2">{{ post.content }}</div>
                    <div class="likes_container d-flex justify-content-start align-items-start">
                        {% if request.user in post.likers %}
                            <i class="bi bi-heart-fill heart_icon"></i>
                        {% else %}
                            <i class="bi bi-heart heart_icon"></i>
                        {% endif %}
                        <div class="likes_count_container ml-2">{{ post.likers.count }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}